
Library/

Temp/

UserSettings/

Logs/

.vscode/

obj/

Assembly-CSharp-Editor.csproj

Assembly-CSharp.csproj

ColoredHeaderCreator.csproj

ColoredHeaderCreator.Editor.csproj

PPv2URPConverters.csproj



Unity.RenderPipeline.Universal.ShaderLibrary.csproj

Unity.RenderPipelines.Core.Editor.csproj

Unity.RenderPipelines.Core.Runtime.csproj

Unity.RenderPipelines.Core.ShaderLibrary.csproj

Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj

Unity.RenderPipelines.Universal.Editor.csproj

Unity.RenderPipelines.Universal.Runtime.csproj

Unity.RenderPipelines.Universal.Shaders.csproj

Unity.ShaderGraph.Editor.csproj

Unity.ShaderGraph.Utilities.csproj

UnityEditor.UI.csproj

UnityEngine.UI.csproj

UserSettings/Layouts/default-2021.dwlt



UserSettings/Layouts/CurrentMaximizeLayout.dwlt
